@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
}
.MuiContainer-root {
  padding: 0;
}
.css-6iz4mj-MuiButtonBase-root-MuiIconButton-root svg {
  color: black;
}
.css-1o2axqd-MuiButtonBase-root-MuiIconButton-root {
  color: black !important;
  font-size: 20px !important;
}
.css-1wpv9d4-MuiContainer-root {
  height: fit-content !important;
}
.logout {
  bottom: 0px;
  position: absolute;
}

.logout_name {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.logout span {
  font-size: 13px;
}
.logout svg {
  margin-left: 20px;
}

.card-container {
  background-color: rgb(255, 255, 255);
  width: 250px;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card-icon {
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}
.card-icon svg {
  height: 50px;
  width: 50px;
}
.card-title,
.card-percent {
  font-size: 10px !important;
}
.card-money {
  font-size: 22px !important;
  font-weight: 600 !important;
}
.card-percent {
  font-weight: 800 !important;
}
.card-period {
  font-weight: normal;
}

.monthChart-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title h2,
.customerChat-title h2,
.product-sell-title h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.title span,
.customerChat-title span,
span {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.css-1v5u2yv {
  padding: 24px 0 !important;
}
.monthChart-container {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  padding: 20px 5px;
}

.customer-container {
  max-width: 300px;
  background-color: white;
  border-radius: 7px;
  padding: 20px 5px;
}
.product-sell-container {
  background-color: white;
  max-width: 100%;
  margin-left: -5px;
  border-radius: 7px;
}
.product-sell-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 900px) {
  .css-12n0uxm-MuiGrid-root > .MuiGrid-item {
    margin-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  /* .card-overall-container {
    justify-content: center;
  } */
}
@media screen and (min-width: 550px) {
  /* .card-overall-container {
    justify-content: space-between;
  } */
  .card-container {
    width: 238px;
  }
}
@media screen and (min-width: 550px) and (max-width: 565px) {
  /* .card-overall-container {
    justify-content: center;
  } */
}
@media screen and (min-width: 600px) and (max-width: 821px) {
  .css-12n0uxm-MuiGrid-root > .MuiGrid-item {
    margin-left: 50px;
  }
}
@media (min-width: 600px) {
  .css-1fpo0vu-MuiToolbar-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .all-chart-container {
    flex-direction: row !important;
  }
  .monthChart-container,
  .customer-container {
    max-width: 100% !important;
  }
  .customer-container {
    padding: 5px !important;
  }
  .card-container {
    height: fit-content !important;
  }
  .doughnut-chart,
  .bar-chart {
    width: 100% !important;
  }
}
