@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
}
.MuiContainer-root {
  padding: 0;
}
.css-6iz4mj-MuiButtonBase-root-MuiIconButton-root svg {
  color: black;
}
.css-1o2axqd-MuiButtonBase-root-MuiIconButton-root {
  color: black !important;
  font-size: 20px !important;
}
.body-container {
  height: 100vh;
}
.logout {
  bottom: 0px;
  position: absolute;
}

.logout_name {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.logout span {
  font-size: 13px;
}
.logout svg {
  margin-left: 20px;
}

.card-overall-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card-container {
  background-color: rgb(255, 255, 255);
  width: 250px;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card-icon {
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}
.card-icon svg {
  height: 50px;
  width: 50px;
}
.card-title,
.card-percent {
  font-size: 10px !important;
}
.card-money {
  font-size: 22px !important;
  font-weight: 600 !important;
}
.card-percent {
  font-weight: 800 !important;
}
.card-period {
  font-weight: normal;
}
.chart-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.monthChart-container {
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  width: 700px;
}
.monthChart-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.title span {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.css-1v5u2yv {
  padding: 24px 0 !important;
}
.monthChart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
#canvas-container {
  height: 300px !important;
  width: 600px !important;
  position: relative;
}
.customer-container {
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  width: auto;
}
@media (max-width: 768px) {
  #canvas-container {
    /*  height: auto !important; */
    width: 300px !important;
  }
}
@media screen and (max-width: 768px) {
  .card-overall-container {
    justify-content: center;
  }
}
@media screen and (min-width: 550px) {
  .card-overall-container {
    justify-content: space-between;
  }
  .card-container {
    width: 238px;
  }
}
@media screen and (min-width: 550px) and (max-width: 565px) {
  .card-overall-container {
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 821px) {
  .card-overall-container {
    justify-content: center;
  }
}
@media (min-width: 600px) {
  .css-1fpo0vu-MuiToolbar-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
